body{
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

body::after {
  content: "";
  background: url(../img/home2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment:fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;   
}

h1{
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 60px;
	font-style: italic;
	color:white;
}

h2{
	font-family: "Times New Roman", Times, serif;
	position:absolute;
	top:10;
	right:10;
	vertical-align: text-top;
	text-align: left;
	font-size: 20px;
	font-style: italic;
	color:white;
}


